@import url(fontello.css);
@import url(grapes.min.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --br: 5px;
    font-size: 13px;
}

div#ioqe {
    outline: none !important;
}

html,
body {
    max-height: 100vh;
}

body {
    padding: 1rem;
    background: #EFEFEF 0% 0% no-repeat padding-box;
}

#content {
    gap: 1rem;
    font-family: 'Roboto', sans-serif;
}

.gjs-cv-canvas {
    background-color: transparent;
    border-radius: var(--br);
}

#panel {
    margin-bottom: 1rem;
    background-color: #fff;
    border-radius: var(--br);
    padding: 10px;
}

#panel,
.panel__tabs,
.tab {
    height: 50px;
}

.panel__tabs {
    margin-bottom: 1rem;
}

.tab {
    font-size: 1rem;

    &.active {
        background-color: #fff;
        border-color: #fff;
        color: hsl(var(--p));
    }
}

#panel,
#gjs,
.tab.active {
    box-shadow: 0px 3px 6px #00000029;
}

.gjs-block-category {
    border-radius: var(--br);
    margin-bottom: .5rem;

    &:focus {
        box-shadow: 0px 3px 6px #00000029;
        background-color: #fff;;
    }
}

#stylemanager-wrapper {
    border-radius: var(--br);

    > input:checked + div {
        box-shadow: 0px 3px 6px #00000029;
        background-color: #fff;;
    }
}

.gjs-block-category .collapse-content {
    display: grid;
    grid-template-columns: 1fr 1fr;

    > .gjs-block {
        border-radius: var(--br);
        border: 1px solid hsl(var(--n));
    }
}

.panel__tabs>*+* {
    margin-left: .5rem;
}

div#sidebar {
    max-height: 100vh;
}

/* Let's highlight canvas boundaries */
#gjs {
    border: 3px solid var(--bg-dark);
    max-height: calc(100vh - 90px);
}

/* Reset some default styling */
.gjs-cv-canvas {
    top: 0;
    width: 100%;
    height: 100%;
}

.gjs-block {
    width: auto;
    height: auto;
    min-height: auto;
}

.gjs-block-label {
    font-size: 1rem;
}

.gjs-blocks-c {
    flex-direction: column;
}


/* Style the tab content */
.tabcontent {
    display: none;
    height: calc(100vh - 130px);
    border-top: none;
    overflow: auto;
    padding: 0 1rem;
}

/* Layout */

.gjs-one-bg {
    background-color: var(--bg-dark)
}

.gjs-one-color {
    color: var(--bg-dark)
}

.gjs-one-color-h:hover {
    color: var(--bg-dark)
}

.gjs-two-bg {
    background-color: black
}

.gjs-two-color {
    color: black
}

.gjs-two-color-h:hover {
    color: black
}

.gjs-three-bg {
    background-color: var(--primary)
}

.gjs-three-color {
    color: var(--primary)
}

.gjs-three-color-h:hover {
    color: var(--primary)
}

.gjs-four-bg {
    background-color: var(--secondary)
}

.gjs-four-color {
    color: var(--secondary)
}

.gjs-plh-image {
    outline: none !important;
}

.gjs-four-color-h:hover {
    color: var(--secondary)
}

.gjs-category-title,
.gjs-layer-title,
.gjs-block-category .gjs-title,
.gjs-sm-sector-title {
    background-color: transparent;
    font-size: 1rem;
}

.panel__devices {
    position: static;
    margin-bottom: .5rem;
}

.gjs-pn-panel {
    position: static;
}

.gjs-block__media {
    height: 100%;
    display: contents;
}

.gjs-block svg {
    height: 30px;
}

.panel__devices {
    display: flex;
    gap: 10px;
    background: transparent;
    margin: 0;
}

.panel__devices>span {
    font-size: 1rem;
    display: flex;
    align-items: center;
}

.gjs-pn-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;

    &:hover {
        color: hsl(var(--s));
    }

    &.gjs-pn-active {
        background: transparent;
        box-shadow: none;
        color: hsl(var(--p));
    }
}

.gjs-cv-canvas .gjs-highlighter, 
.gjs-cv-canvas .gjs-highlighter-sel {
    outline: 1px solid hsl(var(--p)) !important;
}

.gjs-badge, .gjs-com-badge, .gjs-com-badge-red {
    background-color: hsl(var(--p));
}

iframe#uploadFrame {
    width: 100%;
    height: 100%;
}

#filemanager {
    max-width: unset;
    height: 100vh;
}

body.loading .loader {
    display: block;
}

body.loading:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #00000054;
    z-index: 10;
}

.loader {
    -webkit-animation: rotate 1s infinite;
    animation: rotate 1s infinite;
    height: 50px;
    width: 50px;
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.loader:before,
.loader:after {
    border-radius: 50%;
    content: "";
    display: block;
    height: 20px;
    width: 20px;
}

.loader:before {
    animation: ball1 1s infinite;
    background-color: #fff;
    box-shadow: 30px 0 0 hsl(var(--p));
    margin-bottom: 10px;
}

.loader:after {
    animation: ball2 1s infinite;
    background-color: hsl(var(--p));
    box-shadow: 30px 0 0 #fff;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg) scale(0.8)
    }

    50% {
        transform: rotate(360deg) scale(1.2)
    }

    100% {
        transform: rotate(720deg) scale(0.8)
    }
}

@keyframes ball1 {
    0% {
        box-shadow: 30px 0 0 hsl(var(--p));
    }

    50% {
        box-shadow: 0 0 0 hsl(var(--p));
        margin-bottom: 0;
        transform: translate(15px, 15px);
    }

    100% {
        box-shadow: 30px 0 0 hsl(var(--p));
        margin-bottom: 10px;
    }
}

@keyframes ball2 {
    0% {
        box-shadow: 30px 0 0 #fff;
    }

    50% {
        box-shadow: 0 0 0 #fff;
        margin-top: -20px;
        transform: translate(15px, 15px);
    }

    100% {
        box-shadow: 30px 0 0 #fff;
        margin-top: 0;
    }
}

.gjs-toolbar {
    background-color: hsl(var(--p));
}

.gjs-selected {
    outline-color: hsl(var(--p)) !important;
}


.icon {
    &:before,
    &:after {
        font-family: fontello;
        font-size: 1.3em;
        font-weight: normal;
    }

    &:before {
        margin-right: 1rem;
    }

    &:after {
        margin-left: 1rem;
    }
}

.undo {
    font-size: 1rem;
}


.undo:after {
    content: '\E805';
}

.clear {
    font-size: 1rem;
}


.clear:after {
    content: '\E806';
}

.grid {
    font-size: 1rem;
}

.grid:after {
    content: '\E803';
}

.templates:before {
    content: '\E802';
}

.components:before {
    content: '\E801';
    font-size: 1.5em;
}

.c_heading {
    font-weight: bold;
    font-size: 1.15rem;
}

.c_desc {
    color: #959595;
    font-size: .95rem;
}

#blocks-temp {
    display: none !important;
}

.gjs-block__media + .gjs-block-label {
    margin-top: 1rem;
}

.gjs-block-label {
    font: normal normal normal 11px/13px Roboto;
    text-align: left;
}

.gjs-block__media + .gjs-block-label {
    margin-top: 1rem;
    font: normal normal normal 11px/13px Roboto;
    text-align: left;
}

.gjs-block__media svg {
    height: 60px;
    margin: 2rem 0;
    width: 100%;
}

.gjs-block {
    border-radius: 5px;
    box-shadow: none;
}

.gjs-color-main, .gjs-off-prv, .gjs-sm-stack #gjs-sm-add, .gjs-clm-tags #gjs-clm-checkbox, .gjs-clm-tags #gjs-clm-close {
    color: #333;
    fill: #333;
}

.gjs-field-arrow-u, .gjs-field-arrow-d {
    filter: brightness(0.1);
}

.gjs-clm-field input, .gjs-clm-field select, .gjs-clm-select input, .gjs-clm-select select, .gjs-sm-field input, .gjs-sm-field select, .gjs-clm-tags #gjs-clm-new {
    color: #333;
}

.gjs-cm-editor#gjs-cm-htmlmixed #gjs-cm-title,
.gjs-cm-editor#gjs-cm-css #gjs-cm-title {
    color: #333;
}

.peer:checked~.peer-checked\:bg-white {
    --tw-bg-opacity: 1;
    background-color: hsl(0,0%,100%/var(--tw-bg-opacity));
    box-shadow: 0 3px 6px #00000029;
}

.peer:checked~.collapse-content.peer-checked\:bg-white {
    box-shadow: 0 6px 6px #00000029;
}

.collapse {
    overflow: visible;
}



.collapse-title {
    border-top-left-radius: var(--br);
    border-top-right-radius: var(--br);
}

.collapse-content {
    border-bottom-left-radius: var(--br);
    border-bottom-right-radius: var(--br);
}

.collapse-title,
.collapse-content {
    transition: all 0s !important;
}

.gjs-clm-tags,
.gjs-sm-properties {
    font-size: 1rem;
}